<div class="title-background" align="center">
	<div class="title-main-text">
		Powerful digital advertising <br> to convert traffic into customers
	</div>
	<div class="learn-button">
		Learn More
	</div>
</div>
<div class="container-fluid" align="center">
	<div class="heading-1">
		Custom Marketing Solutions
	</div>
	<hr class="separator">
	<div class="content">
		We use advanced customer targeting and quantitative <span class="content-title">lead generation</span> tools.
	</div>
	<div class="detail-box">
		<div>
			<img src="/assets/check.png" class="check">
			<span id="check-1-text">Fully qualified, verified, and exclusive leads</span>
		</div>
		<div>
			<img src="/assets/check.png" class="check">
			<span id="check-2-text">Real-time, customized lead delivery system</span>
		</div>
		<div>
			<img src="/assets/check.png" class="check">
			<span id="check-3-text">Detailed targeting and performance reports</span>
		</div>
	</div>
</div>