<!DOCTYPE html>
<html>
<head>
  <title>Rplead</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="home-nav">
		<div class="container-fluid">
			<div align="center">
				<img src="/assets/logo.png" id="logo">
			</div>
			<div class="menu-items">
				<span>Home</span>
				<span>Services</span>
				<span>About</span>
				<span>Contact</span>
			</div>
		</div>
	</div>

<%= yield %>

</body>
</html>
